<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <!-- Include Tailwind CSS -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="bg-gray-100">

    <div class="h-full -mt-14">
        <div class="flex justify-center items-center px-8 py-24 lg:py-16">
            <div class="bg-white border border-gray-300 rounded-lg w-1/2 lg:w-104 h-auto p-8">
                <h2 class="text-center text-3xl font-bold mb-5" style="color: #A75DB4;">Sign Up Form</h2>

                {% if error %}
                <p class="error text-xl p-2 bg-red-200 rounded-sm">{{ error }}!</p>
            {% endif %}
                <form method="post" action="{{ url_for('signup') }}">
                    <div class="form-group">
                        <label for="fullName" class="font-bold">
                            Full Name <span class="text-gray-500">*</span>
                        </label>

                        <input type="text" name="fullName" placeholder="Full Name"
                            class="w-full bg-gray-100 shadow p-3 rounded-md outline-none mt-2" />
                    </div>

                    <div class="form-group mt-4">
                        <label for="address" class="font-bold">
                            Address <span class="text-gray-500">*</span>
                        </label>

                        <input type="text" name="address" placeholder="Address"
                            class="w-full bg-gray-100 shadow p-3 rounded-md outline-none mt-2" />
                    </div>

                    <div class="form-group mt-4">
                        <label for="email" class="font-bold">
                            Email <span class="text-gray-500">*</span>
                        </label>

                        <input type="email" name="email" placeholder="example@gmail.com"
                            class="w-full bg-gray-100 shadow p-3 rounded-md outline-none mt-2" />
                    </div>

                    <div class="relative form-group mt-4">
                        <label for="password" class="font-bold">
                            Password <span class="text-gray-500">*</span>
                        </label>

                        <input type="password" name="password" placeholder="Password"
                            class="w-full bg-gray-100 shadow p-3 rounded-md outline-none mt-2" />

                    </div>

                    <div class="form-group mt-6">
                        <button type="submit"
                            class="w-full p-2 rounded-md text-center text-white hover:bg-blue-800" style="background-color: #A75DB4;">
                            Sign Up
                        </button>
                    </div>
                </form>
                <div class="flex flex-col items-center mt-4">
                    <p>
                        Already have an account? ||
                        <a href="{{ url_for('login') }}" class="font-bold text-center" style="color: #A75DB4;">
                            Log In
                        </a>
                    </p>

                </div>
            </div>
        </div>
    </div>

</body>

</html>
